*[class ~= "topic/table"]:before(2) {
    content:
    oxy_buttonGroup(
    icon, "../img/Expand16.png",
    transparent, true,
    actions, 
      oxy_action_list(
          oxy_action(
                name, 'Attention', 
                description, 'Table outputclass widetable', 
                operation, 'ChangeAttributeOperation', 
                arg-name, 'outputclass',
                arg-elementLocation, '.',
                arg-value, 'widetable'
          )
      )
  ) ;
  vertical-align:middle;
}

<<<<<<< HEAD
*[class~='topic/table']:before {
    display: inline;
    font-family: arial, helvetica, sans-serif;    
    padding: 2mm;
  }

=======
>>>>>>> 59dd0e48714a30ba49b3846028c2dd6d88c49890

