@namespace oxy "http://www.oxygenxml.com/extensions/author";
/* colors as variables */
/*#FFFAD5*/
/*#FFD34E*/
/* before layer used for hints */
/* hints styles */
*:before(201) {
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
}
/* define mixins */
/* Hints and placeholders */
/* EXM-41121: don't let the hints go to PDF. */
@media oxygen {
  /* Topic types */
  register {
    /* 
     * EXM-41121: don't let the hints go to PDF. 
     * Remove this rule to avoid nested media queries. 
     */
    /*@media oxygen-high-contrast-black, oxygen-dark-theme {
        &:empty {
            color:white!important;
        }
    }*/
    /*&:empty:focus   {color:@focusedPlaceholderColor!important;}*/
  }
  register:before(201) {
    display: block;
    font-family: arial, helvetica, sans-serif;
    line-height: 1rem;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('register-hints', '-', oxy_local-name()), width, 100%);
  }
  register:before(201) {
    background-color: rgba(255, 211, 78, 0.6) !important;
  }
  register:empty {
    color: #99aaaa !important;
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "Enter register content";
  }
  
  /* Main registerBody elements */
  registerBody {
    /* 
     * EXM-41121: don't let the hints go to PDF. 
     * Remove this rule to avoid nested media queries. 
     */
    /*@media oxygen-high-contrast-black, oxygen-dark-theme {
        &:empty {
            color:white!important;
        }
    }*/
    /*&:empty:focus   {color:@focusedPlaceholderColor!important;}*/
  }
  registerBody:empty {
    color: #99aaaa !important;
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "Enter main registerBody content";
  }
 
  /* titles */
  registerName {
    /* 
     * EXM-41121: don't let the hints go to PDF. 
     * Remove this rule to avoid nested media queries. 
     */
    /*@media oxygen-high-contrast-black, oxygen-dark-theme {
        &:empty {
            color:white!important;
        }
    }*/
    /*&:empty:focus   {color:@focusedPlaceholderColor!important;}*/
  }
  registerName:empty {
    color: #99aaaa !important;
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "Enter registerName";
  }
  
  register > registerName:before(201) {
    display: block;
    font-family: arial, helvetica, sans-serif;
    line-height: 1rem;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('register-hints', '-', oxy_local-name()), width, 100%);
  }
  
  dimension:empty {
    color: #99aaaa !important;
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "Define bitfield dimensions.";
  }
  
  register > registerBody > registerPropset > dimension:before(201) {
    display: block;
    font-family: arial, helvetica, sans-serif;
    line-height: 1rem;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('register-hints', '-', oxy_local-name()), width, 100%);
  }
  
 
}
